
.SEditor {
    textarea {
        width: calc(100% - 22px);
        display: inline-block;
        resize: none;
        padding: 10px;
    }
    .toolbar {
        border: 0;
        height: 50px;
        .medium-editor-toolbar {
            border-radius: 0;
            /* 一直显示toolbar */
            visibility: visible !important;
            box-shadow: none;
        }
    }
    .footer {
        border: 1px solid #ccc;
        margin-top: -2px;
        button {
            border-radius: 0;
            height: 40px;
            background-color: transparent;
            border: 0;
            outline: none;
            cursor: pointer;
            &:hover {
                background-color: #ccc;
            }
            &:focus, &:hover, &:active, &::-moz-focus-inner {
                outline: 0;
            }
        }
    }
    .editable {
        border: 1px solid #ccc;
        padding: 10px;
        padding-top: 20px;
        outline: none;
        min-height: 200px;
        table {
            border-spacing: 0;
            border-collapse: collapse;
            th, td {
                padding: 10px;
                border: 1px solid #ccc;
            }
        }
    }
}
