
.SEditor {
    .property {
        color: red;
    }
    .editable {
        border: 1px solid #ccc;
        min-height: 300px;
        width: 40%;
        display: inline-block;
        position: absolute;
        outline: none;
        padding: 10px;
    }
    .preview {
        border: 1px solid #ccc;
        min-height: 300px;
        width: 40%;
        display: inline-block;
        position: relative;
        left: calc(40% + 30px);
        padding: 10px;
    }
}
