
#SEditor {
    padding: 10px;
    .toolbar-padding {
        height: 60px;
    }
    table {
        padding: 5px;
        border-spacing: 0;
        border-collapse: collapse;
        thead {
            th {
                border: 1px solid #ccc;
                padding: 6px 4px;
            }
        }
        tbody {
            tr:nth-of-type(2n+1) {
                background-color: #f9f9f9;
            }
            td {
                border: 1px solid #ccc;
                padding: 2px 4px;
            }
        }
    }
}
